<div class="workout-form">
	<%= form_for([@user, @workout]) do |f|%>

	<%= f.label :workout_time, "Workout Time", class: "workout-form-title"%>&nbsp;<i class="fa fa-clock-o fa-lg"></i>&nbsp;(estimated time to completion)
	<%= f.text_field :workout_time, class: "workout-form-control"%>

	<%= f.label :gym_style, "Gym Style", class: "workout-form-title"%>&nbsp;(Apartment Gym, Full Athletic Training Facility, etc.)
	<%= f.text_field :gym_style, class: "workout-form-control" %>

	<%= f.label :description, "Workout Description", class: "workout-form-title"%> [example]
	<%= f.text_area :description, class: "workout-description"%>

	<%= f.label :fitness_goal, "Fitness Goal", class: "workout-form-title"%>&nbsp;<i class="fa fa-certificate fa-lg"></i>&nbsp;(HIIT, Boxing, Iron Man, etc)
	<%= f.text_field :fitness_goal, class: "workout-form-control"%>

	<%= f.submit "Create Workout", class: "btn btn-primary"%>
	<% end %>
</div>
