<li>
	<div class="user-index-container">
		<div class="user-index-content">
			<div class="user-index-profile-picture">
				<%= link_to image_tag(user.profile.url), user%>
			</div>
			<ul class="user-index-information">
				<li><%= link_to user.name, user %></li>
				<li><i class="fa fa-globe fa-lg"></i>&nbsp;&nbsp;<%=user.location %></li>
				<li><i class="fa fa-trophy fa-lg"></i>&nbsp;&nbsp;<%=user.current_practice%></li>
				<div class="user-index-about-me">
					<li>About Me: <%=user.biography%></li>
				</div>
			</ul>
		</div>
	</div>	
</li>