<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@user) do |f| %>

		<%= render 'shared/error_messages' %>

		<%= f.label :name, "Your Name" %>
		<%= f.text_field :name, class: 'form-control' %>

		<%= f.label :email %>
		<%= f.email_field :email, class: 'form-control' %>

		<%= f.label :location %>
		<%= f.text_field :location, :placeholder => "City, State", class: 'form-control' %>

		<%= f.label :biography, "About me" %>
		<%= f.text_area :biography, :placeholder => "Tweet-sized comment about your fitness story (max 140 characters)", class: 'form-control' %>

		<%= f.label :current_practice %>
		<%= f.text_area :current_practice, :placeholder => "e.g. Weightlifting, Boxing, Yoga, Tennis", class: 'form-control' %>

		<%= f.label :password %>
		<%= f.password_field :password, :placeholder => "6 characters minimum", class: 'form-control' %>

		<%= f.label :password_confirmation, "Confirmation" %>
		<%= f.password_field :password_confirmation, class: 'form-control' %>
		
		<%= f.submit "Create Account", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>