<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@user) do |f| %>

		<%= render 'shared/error_messages' %>

		<%= f.label :name, "Your Name" %>
		<%= f.text_field :name, class: 'form-control' %>

		<%= f.label :email %>&nbsp;<i class="fa fa-envelope-o"></i>
		<%= f.email_field :email, class: 'form-control' %>

		<%= f.label :location %>&nbsp;<i class="fa fa-globe fa-lg"></i>&nbsp;(City, State)
		<%= f.text_field :location, class: 'form-control' %>

		<%= f.label :biography, "About me" %>&nbsp;Tweet-sized (140 characters)!
		<%= f.text_area :biography, class: 'form-control' %>

		<%= f.label :current_practice %> (Weightlifting, Boxing, Yoga, whatever you like)
		<%= f.text_area :current_practice, class: 'form-control' %>

		<%= f.label :profile, "Upload Profile Picture"%>
		<%= f.file_field :profile, class: "btn btn-success" %>

		<%= f.label :password %>
		<%= f.password_field :password, :placeholder => "6 characters minimum", class: 'form-control' %>

		<%= f.label :password_confirmation, "Confirmation" %>
		<%= f.password_field :password_confirmation, :placeholder => "confirm password", class: 'form-control' %>
		
		<%= f.submit "Create Account", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>