<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<%= image_tag(@user.profile.url) %>
		</section>
		<div class="profile_information">
			<div class="user_name">
				<%= @user.name %>
			</div><hr>
			<i class="fa fa-globe fa-lg"></i>&nbsp;&nbsp;<%= @user.location %><br>
			<i class="fa fa-trophy fa-lg"></i>&nbsp;&nbsp;<%= @user.current_practice%><br><br>
			<div class="aboutme_title">
				About Me:
			</div>
			<%= @user.biography%>
		</div>
	</aside>
	
	<%= link_to 'Build A Workout', new_user_workout_path(@user), class: "btn btn-lg"%>

	<div class = "workout-display-container">
		<% if @workouts.exists? %>
		<%= @workouts.each do |individual_workout| %>
		<ul>
			<div class="individual-workout">
				<%individual_workout.fitness_goal%>
				<%individual_workout.estimated_time%>
				<%= link_to(individual_workout)%>
			</div>	
		</ul>
		<% end %>
		<%else%>
		<%= render 'layouts/noworkout.html.erb'%>
		<%end%>
	</div>


</div>